<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd

          http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <!-- embedded database - HSQL, H2 and Derby are supported natively -->
    <jdbc:embedded-database id="dataSource" type="HSQL">
        <jdbc:script location="classpath:schema.sql" />
        <jdbc:script location="classpath:init-data.sql" />
    </jdbc:embedded-database>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
            <list>
                <value>com.monster.mgs.test.model</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory" />
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <context:component-scan base-package="com.monster.mgs.test"/>

    <bean id="wizardFormValidator" class="com.monster.mgs.test.web.validator.WizardFormValidator" />

    <!-- DAOs -->
    <bean id="VisitorDao" class="com.monster.mgs.test.dao.VisitorDaoImpl"/>
    <bean id="TrainingCourseDao" class="com.monster.mgs.test.dao.TrainingCourseDaoImpl"/>
    <bean id="TrainingCourseFeedbackDao" class="com.monster.mgs.test.dao.TrainingCourseFeedbackDaoImpl"/>
    <bean id="TrainingCourseSectionDao" class="com.monster.mgs.test.dao.TrainingCourseSectionDaoImpl"/>

    <!-- Services -->
    <bean id="feedbackService" class="com.monster.mgs.test.service.FeedbackServiceImpl" />


</beans>